<!DOCTYPE html>
<html lang="pt">
  <%- include("partials/head.html") %>

  <body>
    <div class="container py-3">
      <%- include('partials/header.html') %>

      <main>
        <div class="my-3 p-3 bg-body rounded shadow-sm">
          <h5>Encontramos <%= contagem %> resultado(s)</h5>
        </div>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <% for(let i = 0; i < posts.length; i++) { %>

          <div class="col">
            <div class="card" style="width: 18rem">
              <img src="<%= posts[i].imagem %>" alt="..." />
              <div class="card-body">
                <h5 class="card-title"><%= posts[i].titulo %></h5>
                <p class="card-text">
                  <%- posts[0].conteudo.substr(0,150) %>...
                </p>
                <a href="<%= posts[i].slug %>" class="btn btn-success"
                  >Saiba mais</a
                >
              </div>
            </div>
          </div>

          <% } %>
        </div>
      </main>

      <%- include('partials/footer.html') %>
    </div>
  </body>
</html>
